.header {
    background-color: transparent;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header.scrolled {
    background-color: white;
}

.logo img {
    width: 170px;
    height: auto;
}

.navList {
    display: flex;
    list-style: none;
    padding-right: 50px;
    margin-left: auto;
}

.navList li {
    margin: 0 45px;
}

.navList a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    color: white; /* default color */
}

.navList a:hover {
    color: #30B88E; /* color on hover */
}

.header.scrolled .navList a {
    color: #135440; /* color when scrolled */
}

.header.scrolled .navList a:hover {
    color: #30B88E; /* color on hover when scrolled */
}

.searchIcon {
    color: white; /* default color */
}

.header.scrolled .searchIcon {
    color: #135440; /* color when scrolled */
}
