/* styles/index.module.css */
.main {
    position: relative;
  }
  
  .slideshowSection {
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  
  .applyButton {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .applyButton:hover {
    background-color: #135440;
    color: white;
    border: 2px solid transparent;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  .textContainer {
    flex: 1;
    padding-left: 50px;
  }
  
  .textContainer h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .textContainer p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .despreButton {
    background-color: #135440;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  .despreButton:hover {
    background-color: #135440;
    color: white;
  }
  