/* styles/Profil.module.css */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .main h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  