.searchContainer {
    position: relative;
    display: inline-block;
  }
  
  .searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #135440;
  }
  
  .searchInput {
    padding: 10px 10px 10px 30px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .resultsContainer {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white; /* Ensure background is white */
    border: 1px solid #ccc;
    border-top: none; /* Remove top border to connect seamlessly with the search input */
    z-index: 1000;
    max-height: 300px; /* Optional: limit height and make it scrollable */
    overflow-y: auto;
    border-radius: 0 0 4px 4px; /* Optional: rounded corners at the bottom */
  }
  
  .resultItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .resultItem:last-child {
    border-bottom: 4; /* Remove border from last item */
  }
  
  .resultItem:hover {
    background-color: #135440;
    color: white;
  }
  